

.category-main{
    display: flex;
    justify-content: space-evenly;
    width :70%;
    margin: auto;
    align-items: center;
    /* border: 1px solid blue; */
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.category-main>div{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-main>div>img{
    width: 60%;
    border-radius: 50%;
    height: 130px;
    /* border: 1px solid red; */
    background-color: #F0F0F0;
}

@media screen and (min-width:601px) and (max-width: 900px) {
    .category-main{
       display: grid;
       grid-template-columns: repeat(3,1fr);
        
    }
    .category-main>div{
        margin: 20px;
    }
  }

  @media screen and (max-width: 600px) {
    .category-main{
       display: grid;
       grid-template-columns: repeat(1,1fr);

    }
    .category-main>div{
        margin: 20px;
    }
    .category-main>div>img{
        width: 100px
    }

  }