h1{
    font-family: 'TradeGothicLTStd-BdCn20', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}
#sidetoside {    
    margin-top: 30px;
    border: 2px solid red;
    height: 500px; 
    display: flex;
}
#left {
    border: 2px solid blue;
    width:50%;
    overflow: scroll;
    scrollbar-color: red orange;
    scrollbar-width: thin;
    font-family: 'TradeGothicLTStd-BdCn20', sans-serif;
    font-size: 15px;
}

#indiDiv{
    display: flex;
}
#imageDiv{
    width: 20%;
}
#left img{
    width : 100%;
}

#ProdDeets{
    width: 80%;
}


#right {
    /* border: 2px solid green; */
    width:50%;
    overflow: scroll;
    scrollbar-color: red orange;
    scrollbar-width: thin;
    font-family: 'TradeGothicLTStd-BdCn20', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
#leftInside, #rightInside{
    margin:auto;
    border: 2px solid pink;
    width:65%;
    margin-top: 80px;
}
.first{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    width:60%;
    text-align: left;
}
#rightInside>div{
    padding: 20px;
    
}
.icon{
    width:20px;
    height: 20px;
    /* border: 1px solid green; */
    padding-top: 2px;
}
image{
    width:100%;
    height:100%;
}
.flexIt{
    display: flex;
    justify-content: space-between;
}
#blueBox{
    background-color: #cfebe1;
}