    #flex{
        width:80%;
        margin: auto;
    }
    
    #left, #summary{
        width:50%
    }
    #left{
        padding-top: 55px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    
    h1{
        font-size: 30px;
    }
    #heading{
        margin-bottom: 30px;
        /* border: 2px solid green; */
    }
  
    
   
    #summary{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        /* display: grid; */
        padding: 30px;
        border-radius: 10px;
        width:50%;
        /* border: 1px solid red; */
    } 
    
    #summary p{
        margin: 0.5rem 0;
    }
    
    .flexIt{
        display: flex;
        justify-content: space-between;
    }

    