#flex{
  width:80%;
  margin: auto;
  justify-content: space-between;
}

#left, #summary{
  width:50%
}
#left{
  padding-top: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
form{
  padding-left: 10px;
  padding-right: 10px;
}

/* #heading{
  margin-bottom: 30px;
  /* border: 2px solid green; 
} */


#summary{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* display: grid; */
  padding: 30px;
  border-radius: 10px;
  width:50%;
  /* border: 1px solid red; */
} 

#summary p{
  margin: 0.5rem 0;
}

.flexIt{
  display: flex;
  justify-content: space-between;
}







@media screen and (max-width: 1280px) {  
  *{
      font-size: x-large;
  } 
}

@media screen and (max-width: 1024px) {  
  *{
      font-size: x-large;
  }
  #left,  #summary{
      margin: auto;
      width:90%;
      /* height:500px; */
  }        
}


@media screen and (max-width: 912px) {  
  *{
      font-size: xx-large;
  }  
  #flex{
      display: block;        
  }
  #left,  #summary{
      margin: auto;
      width:90%;
  }
  
}


@media screen and (max-width: 820px) {
  *{
      font-size: xx-large;
  }
 #flex{
      display: block;       
  }
  #left,  #summary{
    
      margin: auto;
      width:90%;
  }
}

@media screen and (max-width: 540px) {
  *{
      font-size: large;
  }
 #flex{
      display: block;       
  }
  #left,  #summary{
      margin: auto;
      width:90%;
  }
}

@media screen and (max-width: 430px) {
  *{
    font-size: x-large;
}
 #flex{
      display: block;   
          
  }
  #left,  #summary{
      margin: auto;
      width:100%;
  }
  
}

@media screen and (max-width: 375px) {
  *{
      font-size: large;
  }
 #flex{
      display: block;                  
  }
  #left,  #summary{
      margin: auto;
      width:100%;
  }
}

@media screen and (max-width: 350px) {
  *{
      font-size: medium;
  }
 #flex{
      display: block;                  
  }
  #left,  #summary{
      margin: auto;
      width:100%;
  }
}

