
.main-navstack{
 
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
   /* padding: 1%; */
   justify-content: space-between;
   align-items: center;
  z-index: 1;
}
.nav-menu{
   justify-content: space-around;
   align-items: center;
   /* border: 1px solid red; */
}
.nav-menu h4{
   font-size: 85%;
}
.nav-menu h4:hover{
   cursor: pointer;
}
.cart-box:hover{
  cursor: pointer;
}
.img_stack{
   border-radius: 50%;
   border: 1px solid red;
}
.img_stack a img{
   border-radius: 50%;
}
.cart-profile{
  /* border: 1px solid red; */
 align-items: center;
  justify-content: space-around;
}
.slide-container{
   padding-top: 5%;
}
