
.main-navstack{
   box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: 100%;
   /* padding: 1%; */
   justify-content: space-between;
   align-items: center;
  z-index: 1;
}
.nav-menu{
   justify-content: space-around;
   align-items: center;
   /* border: 1px solid red; */
}
.nav-menu h4{
   font-size: 85%;
}
.nav-menu h4:hover{
   cursor: pointer;
}
.cart-box:hover{
  cursor: pointer;
}
.img_stack{
   border-radius: 50%;
   border: 1px solid red;
}
.img_stack a img{
   border-radius: 50%;
}
.cart-profile{
  /* border: 1px solid red; */
 align-items: center;
  justify-content: space-around;
}
.slide-container{
   padding-top: 5%;
}

