

.category-main{
    display: flex;
    justify-content: space-evenly;
    width :70%;
    margin: auto;
    align-items: center;
    /* border: 1px solid blue; */
    text-align: center;
}


.category-main>div>img{
    width: 90%;
    border-radius: 50%;
    /* border: 1px solid red; */
    text-align: center;
    
}

.category-main>div>h3{
    text-align: center;
}